body{
    margin: 0;
 
}
nav{
    background-color: lightgreen;
    padding: 20px;
    display: flex;
    justify-content: center;
}
nav a{
    color:  deeppink;
    text-decoration: none;
    margin: 0px 10px;
}